__pycache__/
*.py[cod]
*.so
*.pyd

.venv/
venv/
ENV/

.env
*.env

.DS_Store
Thumbs.db

.vscode/
.idea/

*.log
*.pot
*.pyc
.cache/
.mypy_cache/
pytest_cache/
coverage/
htmlcov/

build/
dist/
*.egg-info/
.eggs/

.ipynb_checkpoints/
